SQLSERVER_OPERATIONAL_PASSWORD=LocalOnly_Operational_2026!
SQLSERVER_ANALYTICS_PASSWORD=LocalOnly_Analytics_2026!
SQLSERVER_OPERATIONAL_PORT=1433
SQLSERVER_ANALYTICS_PORT=1434
KAFKA_PORT=9092
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=local-admin
KEYCLOAK_ADMIN_PASSWORD=LocalOnly_Keycloak_Admin_2026!
REQUESTS_SERVICE_PORT=18081
INDICATORS_SERVICE_PORT=8082
