SQLSERVER_OPERATIONAL_PASSWORD=LocalOnly_Operational_2026!
SQLSERVER_ANALYTICS_PASSWORD=LocalOnly_Analytics_2026!
SQLSERVER_OPERATIONAL_PORT=1433
SQLSERVER_ANALYTICS_PORT=1434
KAFKA_PORT=9092
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN=local-admin
KEYCLOAK_ADMIN_PASSWORD=LocalOnly_Keycloak_Admin_2026!
REQUESTS_SERVICE_PORT=18081
INDICATORS_SERVICE_PORT=8082
KAFKA_EVENTS_TOPIC=operational-requests.events.v1
KAFKA_EVENTS_DLT_TOPIC=operational-requests.events.v1.dlt
OUTBOX_BATCH_SIZE=20
OUTBOX_POLL_INTERVAL_MS=2000
OUTBOX_MAX_ATTEMPTS=5
OUTBOX_BACKOFF_SECONDS=10
OUTBOX_LOCK_TIMEOUT_SECONDS=60
KAFKA_CONSUMER_CONCURRENCY=1
SHELL_PORT=4200
REQUESTS_MFE_PORT=4201
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=operational-requests
KEYCLOAK_CLIENT_ID=operational-requests-web
REQUESTS_API_URL=http://localhost:18081
INDICATORS_API_URL=http://localhost:8082
REQUESTS_MFE_URL=http://localhost:4201/remoteEntry.js
